<h3>Mis Ongs</h3>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Mail</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ongs.each do |ong| %>
      <tr>
        <td>
        <%= link_to ong do %>
          <%= image_tag ong.image.thumb, width: '50px' %>
        <% end %>
        </td>
        <td><%= link_to "#{ong.name}", ong  %></td>
        <td><%= ong.description %></td>
        <td><%= ong.mail %></td>
        <td><%= ong.user %></td>
        <td><%= link_to  ong , class: 'show' do %>
            <span class="icon-eye" aria-hidden="true"></span>
            <% end %>
        </td>
        <% if can? :update, Ong %>
          <td><%= link_to edit_ong_path(ong), class: 'edit' do %>
            <span class="icon-cog" aria-hidden="true"></span>
            <% end %>
        </td>
        <% end %>
        <% if can? :destroy, Ong %>
          <td><%= link_to ong, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="icon-trash" aria-hidden="true"></span>
            <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

