

<div id="tag_cloud">
  <h5>Filtra por Tags:</h5>
  <% tag_cloud Event.tag_counts, %w[s m l] do |tag, css_class| %>
    <span class="label label-info border-radius"><%= link_to tag.name, tag_path(tag.name), class: css_class %></span>
  <% end %>
</div>
<br>



<%= form_tag events_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Busca Eventos cercanos a ti", :name => nil %>
  </p>
<% end %>

<div>
  <!-- <div class = "col-md-5 col-md-offset-1"> -->
    <div id= "map" class = "gmap m-t-md"></div>
  </div>


<br>


<h1>Todos los Eventos:</h1>

<table class="table ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Address</th>
      <th>Cupos</th>
      <th>Ong</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to "#{event.name}", event_path(event) %></td>
        <td><%= event.description %></td>
        <td><%= event.day %></td>
        <td><%= event.full_address %></td>
        <td><%= event.spot %></td>
        <td><%= link_to "#{event.ong}", ong_path(event.ong) %></td>
        <td><%= raw event.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')%></td>
        <td><%= link_to 'Show', event %></td>
        <% if can? :update, event.ong => Event %>
          <td><%= link_to 'Edit', edit_ong_event_path(event.ong, event) %></td>
        <% end %>
        <% if can? :destroy, event.ong => Event %>
          <td><%= link_to 'Destroy', ong_event_path(event.ong, event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>



<br>
<br>


 <%#= link_to 'New Event', new_event_path %>
