<h2>EVENTO: " <%= @event.name %> " </h2>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.full_address %>
</p>

<!-- <p>
  <strong>Longitude:</strong>
  <%#= @event.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%#= @event.latitude %>
</p> -->

<p>
  <strong>Cupos:</strong>
  <%= @event.spot %>
</p>

<p>
  <strong>Ong:</strong>
  <%= link_to "#{@event.ong}", ong_path(@event.ong) %>
</p>

<p>
  Tags:
  <%= raw @event.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>
<div>

 <h6>Mapa:</h6>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>
  </div>
<br>
 <% if can? :participate, @event %>
  <p>Participantes: <strong> <%= @event.participations.count %></strong></p>
  <p>Participación:
    <% unless @event.participated_by? current_user %>
      <%= link_to 'Participa', participate_ong_event_path(@ong, @event)  %>
    <% else %>
      <%= link_to 'Deja de Participar', participate_ong_event_path(@ong, @event)  %>
    <% end %>
  </p>
<% end %>

<br>
<% if can? :favorite, @event %>
  <p>Seguidores: <strong> <%= @event.favorites.count %></strong></p>
  <p>Seguir:
    <% unless @event.favorited_by? current_user %>
      <%= link_to 'Seguir', favorite_ong_event_path(@ong, @event)  %>
    <% else %>
      <%= link_to 'Dejar de Seguir', favorite_ong_event_path(@ong, @event)  %>
    <% end %>
  </p>
<% end %>
<br>
<% if can? :create, Comment %>
  <%= render partial: "comments/form" , locals: {commentable: @event} %>
<% end %>

<%= render partial: "comments/comments" , locals: {commentable: @event} %>

<br>
<br>
<% if can? :update, @event %>
  <%= link_to 'Edit', edit_ong_event_path(@ong ,@event) %>
<% end %>
<%= link_to 'Back', events_path(@ong, @event) %>
<br>
<br>


