<div class="btn-group pull-md-right">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ONGS:
  </button>

    <ul class="dropdown-menu" role="menu">
      <% @ongs.each do |ong| %>
      <li><%= link_to "#{ong.name}",ong, class: 'dropdown-item' %></li>
      <% end %>
    </ul>

    </div>
<br>
<br>

<h1>Todas las Ongs:</h1>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Mail</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ongs.each do |ong| %>
      <tr>
        <td>
          <%= link_to ong do %>
            <%= image_tag ong.image, width: '100px' , class: 'img-circle'%>
            <% end %></td>
        <td><%= link_to "#{ong.name}", ong %></td>
        <td><%= ong.description %></td>
        <td><%= ong.mail %></td>
        <td><%= ong.user %></td>
        <td><%= link_to 'Show', ong %></td>
        <% if can? :update, Ong %>
          <td><%= link_to 'Edit', edit_ong_path(ong) %></td>
        <% end %>
        <% if can? :destroy, Ong %>
          <td><%= link_to 'Destroy', ong, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Ong', new_ong_path %>
