<div class="btn-group pull-md-right">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ONGS:
  </button>

    <ul class="dropdown-menu" role="menu">
      <% @ongs.each do |ong| %>
      <li><%= link_to "#{ong.name}",ong, class: 'dropdown-item' %></li>
      <% end %>
    </ul>

    </div>
<br>
<br>

<h1>Todas las Ongs:</h1>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Mail</th>
      <th>Nº Eventos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ongs.each do |ong| %>
      <tr>
        <td>
          <%= link_to ong do %>
            <%= image_tag ong.image, width: '100px' , class: 'img-rounded'%>
            <% end %></td>
        <td><%= link_to "#{ong.name}", ong %></td>
        <td><%= ong.description %></td>
        <td><%= ong.mail %></td>
        <td><%= ong.events.count %></td>
        <td><%= link_to ong , class: 'show' do %>
            <span class="icon-eye" aria-hidden="true"></span>
            <% end %>
        </td>
        <% if can? :update, ong %>
          <td><%= link_to edit_ong_path(ong), class: 'edit' do %>
            <span class="icon-cog" aria-hidden="true"></span>
            <% end %>
          </td>
        <% end %>
        <% if can? :destroy, ong %>
          <td><%= link_to ong, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="icon-trash" aria-hidden="true"></span>
            <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Ong', new_ong_path %>
