

<p>
  <strong>Name:</strong>
  <%= @ong.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ong.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @ong.image, width: '200px' %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @ong.mail %>
</p>

<p>
  <strong>User:</strong>
  <%= @ong.user %>
</p>

<br>
<% if can? :create, Event %>
  <%= link_to 'CREA UN EVENTO', new_ong_event_path(@ong) %>
  <br>
  <br>
  <%= link_to 'MISS *EVENTS*', ong_events_path(@ong) %>
  <br>
<% end %>
<% if can? :update, Ong %>
  <%= link_to 'Edit', edit_ong_path(@ong) %>
<% end %>
<%= link_to 'Back', ongs_path %>

